.allNotes{
    margin: 0px;
    padding: 0px;
    width: 100%;
    /*height: 720px;*/
    font-family: 'DM Sans';
    background-color: rgb(232, 44, 44);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url("allNotes.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header{
    margin-top: 1%;
    
    
}

.addBtn{
    margin-top:200px;
    float: right;
    margin-right: 150px;
}

.btnExit{
    margin-top:200px;
    float: left;
    margin-left: 150px;
    background-color: none;
}

/*WriteNotes*/
.containerBorder{
background-color: #219DD9;
width: 1280px;
height: 720px;
display: flex;
justify-content: center;
align-items: center;
}

.containerNote{
    background-color: white;
    width: 1100px;
    height: 550px;
    border-radius: 25px;
}

.groot{
width: 250px;
float: right;
margin-top: 200px;
}

.btnSave{
    float: right;
    margin-top: -330px;
        margin-right: -200px;
    }
    .btnBack{
        float: left;
        margin-left: 3%;
    }
.note{
    height: 500px;
    width: 800px;
}

.containerAllNotes{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    
}


.containerBorderShowNote{
background-color: #219DD9;
width: 200px;
height: 200px;
display: flex;
align-items: center;
justify-content: center;
}

.containerShowNote{
    background-color: white;
    width: 170px;
    height: 170px;
    border-radius: 25px;
    display: flex;
}

.noteShowText{
    margin: 5%;
}

textarea{
    resize: none;
    margin-left: 2%;
}

.titleNote{
    font-size: 40px;
    margin-top: 2%;
}
.rememberNote{
    font-size: 30px;
}

h1{
    font-size: 25px;
}

p{
    font-size: 20px;
}

.btnDelete{
    margin-bottom: 5px;
}